.features-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #FFB400;
    text-align: center;
}

.feature-card {
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
    background-color: #2D4059;
}

.feature-card:hover {
    transform: translateY(-10px); /* Floats up on hover */
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}


.icon-wrapper {
    margin-bottom: 20px;
}

.react-icon {
    font-size: 50px;       /* Size of the icon */
    color: #FFB400;        /* Your Brand Orange */
    transition: color 0.3s ease;
}

/* .feature-card:hover .react-icon {
    color: #2D4059;        /* Your Brand Blue 
} */

.feature-card h3 {
    color: white;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.feature-card p {
    color: white;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
    .features-container {
        flex-direction: column; /* Stack vertically */
        align-items: center;
        padding: 40px 20px;
    }

    .feature-card {
        width: 100%; /* Use full width */
        margin-bottom: 30px; /* Add space between cards */
    }
}