.features-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #FFB400;
    text-align: center;
}

.feature-card {
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
    background-color: #2D4059;
}

.feature-card:hover {
    transform: translateY(-10px); /* Floats up on hover */
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.icon {
    font-size: 50px;
    margin-bottom: 20px;
    display: block;
}

.feature-card h3 {
    color: white;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.feature-card p {
    color: white;
    font-family: 'Poppins', sans-serif;
}